@charset "utf-8";
	.st13
{
	font-family : EF_����ȭü;
	font-size : 32px;
	color : #4483C1;
	color : rgb(68, 131, 193);
}
.st15
{
	font-family : EF_����ȭü;
	font-size : 23px;
	line-height : 27px;
	color : #4483C1;
	color : rgb(68, 131, 193);
}
.st16
{
	font-family : EF_����ȭü;
	font-size : 32px;
	color : #4483C1;
	color : rgb(68, 131, 193);
}
.st17
{
	font-family : EF_����ȭü;
	font-size : 32px;
	color : #454EBF;
	color : rgb(69, 78, 191);
}
.st10
{
	font-family : EF_����ȭü;
	font-size : 32px;
	color : #4483C1;
	color : rgb(68, 131, 193);
}
.st11
{
	font-family : EF_����ȭü;
	font-size : 32px;
	color : #4483C1;
	color : rgb(68, 131, 193);
}
.st12
{
	font-family : EF_����ȭü;
	font-size : 32px;
	color : #4483C1;
	color : rgb(68, 131, 193);
}
.psd
{
	background-image : url(psd.png);
	background-repeat : no-repeat;
}
.st9
{
	font-family : EF_����ȭü;
	font-size : 32px;
	color : #4483C1;
	color : rgb(68, 131, 193);
}
.st21
{
	font-family : ���������� �׿�;
	font-size : 22px;
	color : #605A9B;
	color : rgb(96, 90, 155);
}
.st32
{
	font-family : ��â ��ȭü;
	font-size : 29px;
	line-height : 34.07px;
	letter-spacing : 5.8px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.psd_00000079476763458922717120000010148218094914500795_
{
	background-image : url(psd_00000079476763458922717120000010148218094914500795_.png);
	background-repeat : no-repeat;
}
